version: "3"

services:
  app:
    build: 
      context: ./
      dockerfile: dockerfiles/nodejs/Dockerfile
    ports:
      - "22562:3000"
    volumes:
      - .:/app
    depends_on:
      - mysql
  mysql:
    build:
      context: ./
      dockerfile: dockerfiles/mysql/Dockerfile
    ports:
      - "3369:3306"
    volumes:
      - "mysql-data:/var/lib/mysql"
    environment:
      MYSQL_DATABASE: scanner_code_blog
      MYSQL_USER: root
      MYSQL_PASSWORD: Alexis2012
      MYSQL_ROOT_PASSWORD: Alexis2012
volumes:
  mysql-data:
    driver: "local"
